.cart {
  margin-top: 50px;
  padding: 0px 20px;
  margin-bottom: 40px;
}
.cartHead {
  color: rgb(0, 0, 0);
  font-size: max(2.5vw, 26px);
  font-weight: 100;
  margin-bottom: 2rem;
  background-color: rgb(244, 244, 244);
  border-radius: 5px;
  padding: 0.3rem;
  letter-spacing: 0.1rem;
  text-align: center;
}
.cartItemsTitle {
  border-radius: 8px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  font-family: "IBM Plex Mono", monospace;
  font-style: italic;
  font-weight: 900;
  align-items: center;
  color: gray;
  font-size: max(1vw, 12px);
}
.cartItemsItem {
  margin: 10px 0px;
  color: black;
  background-color: rgb(244, 244, 244);
  border-radius: 8px;
  padding: 20px;
}
.cartItemsItem img {
  width: 60px;
  border-radius: 10%;
}
.cart hr {
  height: 1px;
  background-color: rgb(190, 190, 190);
  border: none;
}
.cartItemsItem .cross {
  cursor: pointer;
  padding: 11px;
  width: 2rem;
}
.cartItemsItem .cross:hover {
  background-color: rgb(218, 218, 218);
  border-radius: 5px;
}
/* ........... */
.cartBottom {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: max(12vw, 20px);
}
.cartTotal {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cartTotal h2 {
  padding: 2px 5px;
  letter-spacing: 0.1rem;
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  font-weight: 100;
}
.cartDetails {
  font-family: "IBM Plex Mono", monospace;
  font-style: italic;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  color: rgb(132, 132, 132);
}

.cartTotal hr {
  margin: 10px 0px;
}
.cartTotal button {
  padding: 0.5rem;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  letter-spacing: 0.2rem;
  font-family: "Righteous", sans-serif;
  font-weight: 100;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
  transition: 1s;
}
.cartTotal b {
  padding: 5px 5px;
  letter-spacing: 0.1rem;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 5px;
  font-weight: 100;
  letter-spacing: 0.2rem;
  font-family: "Righteous", sans-serif;
  font-style: normal;
  color: rgb(0, 0, 0);
}

.cartTotal button:hover {
  border: 2px solid rgb(0, 0, 0);
  background: rgb(255, 247, 105);
  color: rgb(0, 0, 0);
}
.cartPromCode {
  flex: 1;
}
.cartPromCode p {
  color: rgb(161, 161, 161);
  font-family: "IBM Plex Mono", monospace;
  font-style: italic;
  font-weight: 600;
}
.cartPromoInput {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(236, 236, 236);
  border-radius: 4px;
}
.cartPromoInput input {
  background: none;
  border: none;
  outline: none;
  padding: 8px;
}
.cartPromoInput button {
  width: max(10vw, 150px);
  padding: 12px 5px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 0.2rem;
  font-family: "Righteous", sans-serif;
  font-weight: 100;
}
.cartPromoInput button:hover {
  background: rgb(255, 247, 105);
  color: rgb(0, 0, 0);
}

@media (max-width: 750px) {
  .cartBottom {
    flex-direction: column-reverse;
  }
  .cartPromCode {
    justify-content: space-between;
  }
}
