.appDownload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  margin-top: 50px;
  font-size: max(3vw, 20px);
  text-align: center;
  font-weight: 100;
  margin-bottom: 50px;
  gap: 10px;
}
.appPara {
  letter-spacing: 0.2rem;
  border-left: 4px solid rgb(255, 242, 65);
  padding: 0.3rem;
  font-size: xx-large;
}

.appDownloadPlatForm img {
  padding: 0px 10px;
  transition: 1s;
  cursor: pointer;
  /* mix-blend-mode: difference; */
}

.appDownloadPlatForm img:hover {
  transform: scale(1.05);
}
@media (max-width: 1050px) {
  .appDownload p {
    font-size: 25px;
  }
}
@media (max-width: 900px) {
  .appDownload p {
    font-size: 22px;
  }
}
@media (max-width: 750px) {
  .appDownload p {
    font-size: 20px;
  }
}
